<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Selector de Temas</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">

</head>

<body>

    <!-- Cabecera -->
    <header class="site-header">
        <nav class="page-navigation">
            <a href="#" class="logo">Mi Marca</a>
            <ul class="nav-links">
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Sobre mí</a></li>
                <li><a href="#">Servicios</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>

        </nav>
    </header>

    <!-- Sección Principal -->
    <main class="content">

        <div class="panel">


            <section class="intro">
                <h1>Bienvenidos a Mi Marca Personal</h1>
                <p>Explora cómo diferentes temas y tipografías pueden transformar la apariencia de tu sitio web.</p>
            </section>


            <div class="selectors">
                <div class="row gap-1">
                    <div class="form-field selector">
                        <label for="theme-selector">Tema de página</label>
                        <select id="theme-selector"></select>
                    </div>
                </div>
            </div>
        </div>


        <!-- Ejemplo de Formulario -->
        <section class="form-section">

            <div class="panel">



                <details>

                    <summary class="heading-2">Editor de temas</summary>

                    <form id="theme-form">
                        <h2>Crear o Modificar Tema de Color</h2>

                        <div class="form-field text-field">
                            <label for="theme-id">Identificador</label>
                            <input type="text" id="theme-id" required>
                        </div>

                        <div class="form-field text-field">
                            <label for="theme-name">Nombre</label>
                            <input type="text" id="theme-name" required>
                        </div>


                        <div class="row gap-1">
                            <div class="form-field color-picker">
                                <label for="theme-color-text">Color de Texto</label>
                                <input type="color" id="theme-color-text" name="theme-color-text" value="#333333">
                            </div>
                            <div class="form-field color-picker">
                                <label for="theme-color-primary">Color Primario</label>
                                <input type="color" id="theme-color-primary" name="theme-color-primary" value="#4A90E2">
                            </div>

                            <div class="form-field color-picker">
                                <label for="theme-color-secondary">Color Secundario</label>
                                <input type="color" id="theme-color-secondary" name="theme-color-secondary"
                                    value="#7ED321">
                            </div>

                            <div class="form-field color-picker">
                                <label for="theme-color-neutral">Color Neutro</label>
                                <input type="color" id="theme-color-neutral" name="theme-color-neutral" value="#F5F5F5">
                            </div>

                            <div class="form-field color-picker">
                                <label for="theme-color-accent">Color de Acento</label>
                                <input type="color" id="theme-color-accent" name="theme-color-accent" value="#F5A623">
                            </div>

                        </div>
                        <div class="row gap-1">
                            <div class="form-field selector">
                                <label for="theme-font-heading">Fuente de cabeceras y títulos</label>
                                <select id="theme-font-heading" name="theme-font-heading">
                                    <option value="" disabled>Seleccione una fuente</option>
                                    <option value="Arial">Arial</option>
                                    <option value="Garamond">Garamond</option>
                                    <option value="Helvetica">Helvetica</option>
                                    <option value="Poppins">Poppins</option>
                                    <option value="Roboto">Roboto</option>
                                </select>
                            </div>
                            <div class="form-field selector">
                                <label for="theme-font-body">Fuente de cuerpo de texto</label>
                                <select id="theme-font-body" name="theme-font-heading">
                                    <option value="" disabled>Seleccione una fuente</option>
                                    <option value="Arial">Arial</option>
                                    <option value="Garamond">Garamond</option>
                                    <option value="Helvetica">Helvetica</option>
                                    <option value="Poppins">Poppins</option>
                                    <option value="Roboto">Roboto</option>
                                </select>
                            </div>

                        </div>
                        <div class="row gap-1">
                            <button class="button primary" type="submit">Guardar Tema</button>
                            <button class="button primary" type="button" id="apply-theme-btn">Aplicar Tema</button>
                        </div>
                    </form>
                </details>
            </div>
        </section>

        <!-- Ejemplo de Tabla -->
        <section class="table-section">
            <div class="panel">

                <h2>Tabla de Precios</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Servicio</th>
                            <th>Descripción</th>
                            <th>Precio</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Desarrollo Web</td>
                            <td>Diseño y desarrollo de sitios web modernos y dinámicos</td>
                            <td>$500</td>
                        </tr>
                        <tr>
                            <td>Desarrollo Móvil</td>
                            <td>Aplicaciones móviles nativas para iOS y Android</td>
                            <td>$700</td>
                        </tr>
                        <tr>
                            <td>Capacitación TIC</td>
                            <td>Formación en nuevas tecnologías y uso de herramientas TIC</td>
                            <td>$300</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>

        <!-- Ejemplo de Lista -->
        <section class="list-section">
            <div class="panel">

                <h2>Lista de Servicios</h2>
                <ul>
                    <li>Desarrollo de aplicaciones web</li>
                    <li>Creación de videojuegos</li>
                    <li>Producción de contenido multimedia</li>
                    <li>Capacitación en tecnologías</li>
                </ul>
            </div>
        </section>
    </main>

    <!-- Pie de Página -->
    <footer class="site-footer">
        <p>&copy; 2024 Mi Marca Personal. Todos los derechos reservados.</p>
    </footer>

    <!-- Fondo de Pantalla -->
    <div id="background">
        <canvas></canvas>
    </div>


    <script src="/js/prototype.js"></script>
    <!-- <script src="/js/bg-canvas.js"></script> -->

</body>

</html>