:root {
    --primary-color: #4A90E2;
    --secondary-color: #7ED321;
    --neutral-color: #F5F5F5;
    --accent-color: #F5A623;
    --base-text-color: #212121;
    --font-heading: 'Poppins', sans-serif;
    --font-body: 'Roboto', sans-serif;
}

body {
    font-family: var(--font-body);
    color: var(--base-text-color);
    background-color: var(--neutral-color);
    margin: 0;
    padding: 0;
}

h1,
h2 {
    font-family: var(--font-heading);
}

.site-header {
    background-color: var(--primary-color);
    padding: 1em;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: white;
    font-family: var(--font-heading);
    font-size: 1.5em;
    text-decoration: none;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 1em;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-family: var(--font-body);
}

.selectors select {
    margin-left: 1em;
}

.content {
    padding: 2em;
}

h1,
h2 {
    font-family: var(--font-heading);
    color: var(--primary-color);
}

p {
    color: var(--base-text-color);
}

.form-section,
.table-section,
.list-section {
    margin: 2em 0;
}

input,
textarea {
    width: 100%;
    padding: 0.5em;
    margin: 0.5em 0;
    border: 1px solid var(--primary-color);
}

button {
    background-color: var(--secondary-color);
    color: white;
    border: none;
    padding: 0.75em 1.5em;
    cursor: pointer;
}

button:hover {
    background-color: var(--accent-color);
}

table {
    width: 100%;
    border-collapse: collapse;
}

table,
th,
td {
    border: 1px solid var(--primary-color);
}

th,
td {
    padding: 1em;
    text-align: left;
}

th {
    background-color: var(--primary-color);
    color: var(--neutral-color);
    border-right-color: var(--neutral-color);
}


ul {
    list-style-type: disc;
    padding-left: 20px;
}

ul li {
    margin: 0.5em 0;
}

.site-footer {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 1em 0;
}

#background {
    position: fixed;
    height: 100vw;
    width: 100vh;
}